* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 16px Helvetica, Arial;
}

h3 {
    text-align: center;
}

form {
    background: #aadd22;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

form input {
    border: 0;
    padding: 10px;
    width: 90%;
    margin-right: .5%;
}

form button {
    width: 9%;
    background: #0088ff;
    border: none;
    padding: 10px;
}

.messages_left {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
    text-align: right;
    background: #aadd22;
    width: 25%;
}

.messages_right {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
    background: #0088ff;
    width: 25%;
}